.row.row-offcanvas.row-offcanvas-right
  .col-xs-12.col-sm-9
    %p.pull-right.visible-xs
      %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", type: "button"} Toggle nav
    .jumbotron
      %h1= "#{@topic.first_subject.titleize} Vs #{@topic.second_subject.titleize}"
      %p.lead= @topic.question
      .ui-group-buttons
        = new_answer_link(@topic, :first)
        .or.or-lg
        = new_answer_link(@topic, :second)
      .p
        %small
          asked by
          %a{href: "#"} John
          / = link_to current_user.email, current_user
    .comment.col-8.col-sm-8.col-lg-6
      = render partial: 'answers/answers_column', locals: {column: "first", topic: @topic, answers: @first_subject_answers}
    .comment.col-8.col-sm-8.col-lg-6
      = render partial: 'answers/answers_column', locals: {column: "second", topic: @topic, answers: @second_subject_answers}
  = render 'sidebar'

#answer-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", role: "dialog", tabindex: "-1"}
  = render 'answers/form'

