.row.row-offcanvas.row-offcanvas-right
  .col-xs-12.col-sm-9
    %p.pull-right.visible-xs
      %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", type: "button"} Toggle nav
    .jumbotron
      %h1= "#{@topic.first_subject.titleize} Vs #{@topic.second_subject.titleize}"
      %p.lead= @topic.question
      .ui-group-buttons
        = link_to "Your Answer On #{@topic.first_subject.titleize}", topic_answers_path(@topic.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#newAnswerModal', :class => 'btn btn-primary'}
        / %button.btn.btn-primary{"data-target" => "#newAnswerModal", "data-toggle" => "modal"} Your Answer On #{@topic.first_subject.titleize}
        / %button.btn.btn-primary{type: "button"} Vote For #{@topic.first_subject}
        .or.or-lg
        %button.btn.btn-success{type: "button"} Your Answer On #{@topic.second_subject.titleize}
      .p
        %small
          asked by
          %a{href: "#"} John
    .comment.col-8.col-sm-8.col-lg-6
      .row
        .media
          %a.pull-left{href: "#"}
            %img.media-object.dp.img-circle{src: "http://www.huffmancode.com/img/hardik.jpg"}/
          .media-body
            %p Rails is much better at scaling because you never know how much its dflkgjhs;fklhj s;lkfgjsf;lkghj sd;flkgsdflgk
          %div
            %p
              %i.fa.fa-user
              by
              %a{href: "#"} John
              |
              %i.fa.fa-calendar
              Sept 16th, 2012 |
              %i.fa.fa-chevron-circle-up
              vote up
      %hr/
      .row
        .media
          %a.pull-left{href: "#"}
            %img.media-object{src: "http://placehold.it/64x64"}/
          .media-body
            %p Rails is much better at scaling because you never know how much its dflkgjhs;fklhj s;lkfgjsf;lkghj sd;flkgsdflgk
          %div
            %p
              %i.fa.fa-user
              by
              %a{href: "#"} John
              |
              %i.fa.fa-calendar
              Sept 16th, 2012 |
              %i.fa.fa-chevron-circle-up
              vote up
    .comment.col-8.col-sm-8.col-lg-6
      .row
        .media
          %a.pull-left{href: "#"}
            %img.media-object{src: "http://placehold.it/24x24"}/
          .media-body
            %p Rails is much better at scaling because you never know how much its dflkgjhs;fklhj s;lkfgjsf;lkghj sd;flkgsdflgk
          %div
            %p
              %i.fa.fa-user
              by
              %a{href: "#"} John
              |
              %i.fa.fa-calendar
              Sept 16th, 2012 |
              %i.fa.fa-chevron-circle-up
              vote up
      %hr/
      .row
        .media
          %a.pull-left{href: "#"}
            %img.media-object{src: "http://placehold.it/64x64"}/
          .media-body
            %p Rails is much better at scaling because you never know how much its dflkgjhs;fklhj s;lkfgjsf;lkghj sd;flkgsdflgk
          %div
            %p
              %i.fa.fa-user
              by
              %a{href: "#"} John
              |
              %i.fa.fa-calendar
              Sept 16th, 2012 |
              %i.fa.fa-chevron-circle-up
              vote up
  #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{role: "navigation"}
    .well.sidebar-nav
      %ul.nav
        %li Sidebar
        %li.active
          %a{href: "#"} Link
        %li
          %a{href: "#"} Link
        %li
          %a{href: "#"} Link
        %li Sidebar
        %li
          %a{href: "#"} Link
        %li
          %a{href: "#"} Link
        %li
          %a{href: "#"} Link
        %li Sidebar
        %li
          %a{href: "#"} Link
        %li
          %a{href: "#"} Link
    / /.well
#newAnswerModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        hello, this is the modal body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary{type: "button"} Save changes
    / /.modal-content
  / /.modal-dialog
/ /.modal
