.row.row-offcanvas.row-offcanvas-right
  .col-xs-12.col-sm-12.col-md-9
    %p.pull-right.visible-xs.visible-sm
      %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", type: "button"} Toggle nav
    .jumbotron
      %h2= "#{@topic.first_subject.titleize} Vs #{@topic.second_subject.titleize}"
      %p.lead= @topic.question
      .ui-group-buttons
        = new_answer_link(:first)
        .or.or-lg
        = new_answer_link(:second)
      .p
        %small
          asked by
          = topic_owner
      = voters_for_subjects

    .row
      = render partial: 'answers/answers_column', locals: {column: "first", topic: @topic, answers: @first_subject_answers}
      .linetimeline
      = render partial: 'answers/answers_column', locals: {column: "second", topic: @topic, answers: @second_subject_answers}
  = render 'sidebar'

#answer-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "answer-modal-label", role: "dialog", tabindex: "-1"}
  = render 'answers/form'

