- provide(:title, @user.name)
.row
  %aside.col-sm-4
    %section
      %h1
        = gravatar_for @user
        = @user.name
    %section
      = render 'stats'
  .col-sm-8
    = render 'follow_form' if signed_in?
    - if @user.topics.any?
      %h3
        Questions (#{@user.topics.count})
      %ol.topics
        = render partial: "user_topics", collection: @topics, as: :topic
      / = will_paginate @microposts
