.timeline-badge
.row.clearfix.timeline-panel
  .col-md-3.column
    %img.img-circle{src: "https://gravatar.com/avatar/a9377d333b8aec095a3646bf1799e178?d=https%3A%2F%2Fidenticons.github.com%2F462cf426418db897544f727d569f6fbe.png&r=x"}
    = link_to answer.user.name, answer.user
  .col-md-9.topic-comment
    %p= raw format(answer.body)
  .col-md-12
    %p
      = link_to '#' do
        %i.fa.fa-thumbs-o-up
      %span{:class => "action_text"} vote
      = link_to '#' do
        %i.fa.fa-thumbs-o-down
      %span.actions_divider .
      %i.fa.fa-comments-o{:class => "pull-left"}
      %span= link_to "add comment", '#', {:class => "pull-left"}
      %span.actions_divider .
      = timeago answer.created_at, {:class => "pull-right timeago"}
%div{:style => "clear:both"}
