!!!
%html
  %head
    %title ViceVrs
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    = csrf_meta_tags

    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body
    = render 'layouts/header'
    .container
      - flash.each do |type, message|
        %div{class: "alert #{bootstrap_class_for(type)} fade in"}
          %button.close{"data-dismiss" => "alert"} ×
          = message
      = yield
